<!DOCTYPE html>
<html>
    <head>
        <title>§TITLE§</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="../content/images/favicon.ico">
        <link type="text/css" rel="stylesheet" href="../styles/bootstrap.css.map" />
        <link type="text/css" rel="stylesheet" href="../styles/bootstrap.min.css.map" />
        <link type="text/css" rel="stylesheet" href="../styles/bootstrap.min.css" />
        <link type="text/css" rel="stylesheet" href="../styles/style.css" />
    </head>
    <body>
        <section id="main">
            <header>
                §HEADER§
            </header>
            <section id="content">
                §CONTENT§
            </section>
            <footer>
                §FOOTER§
            </footer>
        </section>
    </body>
</html>